@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=New+Tegomin&family=Poppins:wght@400;500;600;700&display=swap');

.tooltip-inner{
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
}


.cartao{
    background-color: #F9F9FF;
    border-radius: 0px 16px 16px 16px;
    height: auto;
    width: 90%;
}

.titulo{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.txt{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (min-width: 800px){
    .imagem-home{
        width: 30%;
    }
}

div.rato-Modal-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    pointer-events: none;
    filter: opacity(0%);
    transition: ease-in-out 0.35s;
    position: fixed;
    top: 0px;
    left: 0px;
}

div.--rato-Modal-up-on {
    background-color: rgba(0, 0, 0, 0.345) !important;
    pointer-events: all !important;
    filter: opacity(100%) !important;
}

div.rato-Modal-up__container {
    transform: translateX(-1000%);
    transition: ease-in-out 1s;
}

div.--rato-Modal-up-on div.rato-Modal-up__container{
    transform: translateX(0%);
}