
.imagem{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.043);
    width: 286px;
    height: 460px;
  }
  
  
  .carta{
    width: 100%;
    height: 100%;
  }
  
  
  .flip-container {
      display: inline-block;
      width: 286px;
      height: 460px;
      perspective: 1000px; 
    }
    
    .flipper {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    #switch{
      display: none;
    }
    
    #switch:checked ~ .flip-container .flipper {
      transform: rotateY(180deg);
    }
    
    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .back {
      transform: rotateY(180deg);
    }
    
  
  
    
    .flip-container2 {
      display: inline-block;
      width: 286px;
      height: 460px;
      perspective: 1000px; 
    }
    
    .flipper2 {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    #switch2{
      display: none;
    }
    
    #switch2:checked ~ .flip-container2 .flipper2 {
      transform: rotateY(180deg);
    }
    
    .front2, .back2 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .back2 {
      transform: rotateY(180deg);
    }
    
  
  
    .flip-container3 {
      display: inline-block;
      width: 286px;
      height: 460px;
      perspective: 1000px; 
    }
    
    .flipper3 {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    #switch3{
      display: none;
    }
    
    #switch3:checked ~ .flip-container3 .flipper3 {
      transform: rotateY(180deg);
    }
    
    .front3, .back3 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .back3 {
      transform: rotateY(180deg);
    }
    
    .flip-container4 {
      display: inline-block;
      width: 286px;
      height: 460px;
      perspective: 1000px; 
    }
    
    .flipper4 {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    #switch4{
      display: none;
    }
    
    #switch4:checked ~ .flip-container4 .flipper4 {
      transform: rotateY(180deg);
    }
    
    .front4, .back4 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .back4 {
      transform: rotateY(180deg);
    }
  
    .flip-container5 {
      display: inline-block;
      width: 286px;
      height: 460px;
      perspective: 1000px; 
    }
    
    .flipper5 {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    #switch5{
      display: none;
    }
    
    #switch5:checked ~ .flip-container5 .flipper5 {
      transform: rotateY(180deg);
    }
    
    .front5, .back5 {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    
    .back5 {
      transform: rotateY(180deg);
    }
  
  