@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=New+Tegomin&family=Poppins:wght@400;500;600;700&display=swap');

.tooltip-inner{
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
}


.cartao{
    background-color: #F9F9FF;
    border-radius: 0px 16px 16px 16px;
    height: auto;
    width: 90%;
}

.titulo{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}

.txt{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#accordion {
    background-color: #f8f9fa; /* Cor de fundo desejada */
  }

  /* Estilize o acordeão */

  .accordion-button {
    background-color: #00407A !important; /* Cor de fundo do cabeçalho do acordeão */
    color: #fff !important; /* Cor do texto no cabeçalho do acordeão */
  }

  .accordion-collapse {
    background-color: #fff !important; /* Cor de fundo do corpo do acordeão */
  }
